.transparent{
    -fx-background-color: #003399;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #4d4dff;
    -fx-background-radius: 15;
}
.itemBackground{
    -fx-background-color: #e6b800;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 10;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}